<div class="container col-md-5 ">
    <form class="form-horizontal">
       
          <h3 class="head text-center">Especificaciones del Edificio</h3>

          <div class="form-group">
              <label class="control-label" for="email">Elija el diseño de la Edificacion</label>
              <select class="form-control input-md" [(ngModel)]="complexType" name="tipoComplejo">
                <option *ngFor="let c of complexTypes" [ngValue]="c">{{c.name}}</option>
              </select>
            </div>

            <h3 class="head text-center">Elije las Caracteristicas que posee</h3>
            <div class="row">
              <div class='col-xs-12 col-sm-6'>
                <div class="form-group">
                  <label class="control-label" for="firstname">Numero de Oficinas</label>
                  <input class="form-control input-md" type="number" min="0" placeholder="Oficinas">
    
                </div>
              </div>
              
              <div class='col-xs-12 col-sm-6'>
                <div class="form-group">
                  <label class="control-label" for="lastname">Numero de Baños</label>
                  <input class="form-control input-md" type="number" min="0" placeholder="Baños">
    
                </div>
              </div>
              <div class='col-xs-12 col-sm-6'>
                <div class="form-group">
                  <label class="control-label" for="lastname">Numero de Salas</label>
                  <input class="form-control input-md" type="number" min="0" placeholder="Salas">
    
                </div>
              </div>
            </div>
            <div class="row">
              <div class='col-xs-12 col-sm-6'>
                <div class="form-group">
                  <label class="control-label">Varas Cuadradas de Terreno</label>
                  <input class="form-control input-md" type="text" mask="separator.2" thousandSeparator="," placeholder="Terreno">
                </div>
              </div>
              <div class='col-xs-12'>
                <div class="form-group">
                  <label class="control-label">Varas Cuadradas de Construccion</label>
                  <input class="form-control input-md" type="text" mask="separator.2" thousandSeparator="," placeholder="Construccion">
                </div>
              </div>
            </div>
          <h3 class="head text-center">Elije las Amenidades que posee </h3>
  
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="checkbox" name="security"> Seguridad
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="checkbox" name="waterTank"> Tanque de Agua
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="checkbox" name="waterTank"> Pozo
              </label>
            </div>
            <div class="radio">
                <label>
                  <input type="checkbox" name="furniture"> Amueblado
                </label>
              </div>
     
          </div>
  
          
        
          
          <div class="row">
              <div class='col-md-12'>
                <label class="control-label">Informacion Adicional</label>
                <textarea class="form-control" rows="3"></textarea>
              </div>
          </div>
          <h3 class="head text-center">Precio</h3>
          <div class="row">
            <div class='col-xs-12 col-sm-6'>
              <form class="form-inline">
                <div class="form-group mb-2">
                  Monto
                </div>
              <div class="form-group mx-sm-2 mb-2">
                <input class="form-control input-md" type="text" mask="separator.2" thousandSeparator="," placeholder="Precio">
              </div>
            </form>
            </div>
          </div>
          <app-other-charges class="todos"></app-other-charges>
        
      <div class="form-group text-center space-40">
        <button class="btn btn-outline-rounded btn-secondary" (click)="goToPrevious(workForm)"> <span style="margin-right:10px;"
            class="glyphicon glyphicon-arrow-left"></span> Previous</button>
        <button class="btn btn-outline-rounded btn-info" (click)="goToNext(workForm)"> Next <span style="margin-left:10px;"
            class="glyphicon glyphicon-arrow-right"></span></button>
      </div>
  
    </form>
  </div>