<main role="main" class="container">
<h1>Valores</h1>
<p>
  Compromiso: Enfoque en nuestros diferentes segmentos de clientes por generar los resultados esperados tras el
  uso de nuestro producto.
</p>
<p>
  Innovación: Una búsqueda constante por mejorar nuestro producto en pro de las necesidades, exigencias,
  intereses, conductas de uso y aplicación de nuestros diferentes segmentos de clientes.
</p>  
<p>
  Trabajo en equipo: Comprendemos que nuestra empresa es una maquinaria de trabajo conjunto conformada por
  una serie de piezas independientes pero complementarias que trabajando en armonía y orientadas a un objetivo
  generan un producto de grandes dimensiones.
</p>   
<p>
  Equidad: Todos nuestros clientes son importantes, no los subestimamos o marginamos por su generación de
  ingresos a nuestra empresa.
</p>   
<p>
  Respeto a la diversidad de opinión: Las opiniones, aportes y sugerencias tienen igualdad de importancia. Todos los
  aportes independientemente de quien procedan pueden acarrear grandes iniciativas y mejoras a nuestra empresa,
  una gran idea puede proceder de cualquier parte.
</p>
</main>