<main role="main" class="container">
<h1>Acerca de</h1>
<p>
Es una empresa que surge como resultado de un momento de creatividad, ingenio y
detección de necesidades de un grupo de amigos con diferentes profesiones que lograron identificar que en el
sector inmobiliario existía dificultad y complejidad para encontrar bienes inmobiliarios de forma rápida, fácil y
efectiva, que permitiera a las personas ahorrar tiempo y recursos para encontrar un bien inmobiliario a la medida
de sus exigencias y a la capacidad de su presupuesto.
</p>
<p>
Es así como surge la idea de crear un sitio que sirviera de conexión entre arrendatarios o vendedores con
inquilinos o compradores de bienes inmobiliarios, en una plataforma que combinara la facilidad de uso para todo
tipo de públicos o usuarios, pero con el potencial que ofrece una herramienta sofisticada para lograr encontrar las
mejores ofertas de bienes inmobiliarios.
</p>
<p>
El emprendimiento tiene como objetivo posicionarse como el principal y más importante agente inmobiliario en
línea, ofreciendo a sus clientes un amplia oferta de opciones de bienes inmobiliarios para todos los gustos,
exigencias y presupuestos, y convertirse a la vez en el mejor socio que un propietario de bienes inmobiliarios
puede tener para vender o arrendar sus propiedades.
</p>
<p>
Somos el socio que piensa en ti, en lo que buscas, en como lo buscas, y a cuanto lo quieres.
</p>
</main>