<div class="container col-md-5 ">
  <form class="form-horizontal">

    <h3 class="head text-center">Especificaciones de la Finca</h3>
    <div class="form-group">
      <label class="control-label" for="email">Elija el tipo de topografia</label>
      <select class="form-control input-md" [(ngModel)]="especificaciones" name="tipoComplejo">
        <option *ngFor="let c of estateTypes" [ngValue]="c">{{c.name}}</option>
      </select>
    </div>

    <h3 class="head text-center">Elije las Características </h3>

    <div class="row">
      <div class='col-xs-12 col-sm-6'>
        <div class="form-group">
          <label class="control-label">Tamaño en Manzanas</label>
          <input class="form-control input-md" type="text" mask="separator.2" thousandSeparator="," placeholder="Terreno">
        </div>
      </div>
    </div>
    <h3 class="head text-center">Elije las Amenidades que posee l</h3>

    <div class="form-group">
      <div class="radio">
        <label>
          <input type="checkbox" name="carretera"> Inmediaciones Carreteras
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="checkbox" name="fuente"> Fuentes de agua
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="checkbox" name="cultivadas"> Cultivadas
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="checkbox" name="criaDeAnimales"> Infraestructura para cria de animales
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="checkbox" name="cercado"> Cercado perimetral
        </label>
      </div>
    </div>

    <div class="row">
      <div class='col-md-12'>
        <label class="control-label">Informacion Adicional</label>
        <textarea class="form-control" rows="3"></textarea>
      </div>
    </div>
    <h3 class="head text-center">Precio</h3>
    <div class="row">
      <div class='col-xs-12 col-sm-6'>
        <form class="form-inline">
          <div class="form-group mb-2">
            Monto
          </div>
        <div class="form-group mx-sm-2 mb-2">
          <input class="form-control input-md" type="text" mask="separator.2" thousandSeparator="," placeholder="Precio">
        </div>
      </form>
      </div>
    </div>
    <app-other-charges class="todos"></app-other-charges>

    <div class="form-group text-center space-40">
      <button class="btn btn-outline-rounded btn-secondary" (click)="goToPrevious(workForm)"> <span style="margin-right:10px;"
          class="glyphicon glyphicon-arrow-left"></span> Previous</button>
      <button class="btn btn-outline-rounded btn-info" (click)="goToNext(workForm)"> Next <span style="margin-left:10px;"
          class="glyphicon glyphicon-arrow-right"></span></button>
    </div>

  </form>
</div>