<div class="todos">

  <div>

    <table class="table table-borderless">

      <tbody>
        <tr>
          <th scope="row">Deposito en Garantia</th>

          <td scope="row"><input mask="separator.2" thousandSeparator="," prefix="L." class="form-control"  placeholder="Precio">
          </td>
          <td>         <select class="form-control" required [(ngModel)]="selectedFrecuency1" name="frecuency" >
            <option [ngValue]="null" disabled>Frecuencia</option>
            <option *ngFor="let c of frecuencies" [value]="c">{{c}} </option>
            </select></td>
          <td >       <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Reembolsable</label>
        </div></td>
        </tr>
        <tr>
          <th scope="row">Seguridad</th>
          <td scope="row">  <input mask="separator.2" thousandSeparator="," prefix="L." class="form-control"  placeholder="Precio">
          </td>
          <td>        <select class="form-control" required [(ngModel)]="selectedFrecuency2" name="frecuency" >
           
            <option *ngFor="let c of frecuencies" [value]="c">{{c}} </option>
            </select></td>
          <td>          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked2">
            <label class="custom-control-label" for="defaultUnchecked2">Reembolsable</label>
        </div></td>
        </tr>
        <tr>
          <th scope="row">Deposito de Mantenimiento</th>

          <td scope="row">  <input mask="separator.2" thousandSeparator="," prefix="L." class="form-control"  placeholder="Precio">
          </td>
          <td><select class="form-control" required [(ngModel)]="selectedFrecuency3" name="frecuency" >
           
            <option *ngFor="let c of frecuencies" [value]="c">{{c}} </option>
            </select></td>
            <td>       <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="defaultUnchecked3">
              <label class="custom-control-label" for="defaultUnchecked3">Reembolsable</label>
          </div>
            </td>
        </tr>
        <tr   *ngFor="let todo of todos; let i=index">
          <!-- <input type="checkbox" class="checkbox" [(ngModel)]="todo.completed" />Reembolsable -->
          <th [ngClass]="{'checked': todo.completed}"> {{ todo.newTodo }}</th>
        <td>  <input type="text" mask="separator.2" thousandSeparator=","  prefix=" L."  class="form-control" required [(ngModel)]="todo.price"  (keyup.enter)="price=''" name="price" placeholder="Precio"></td>
    
            <td><select class="form-control" required [(ngModel)]="todo.frecuency" name="frecuency" >
              <option [ngValue]="1" ></option>
              <option *ngFor="let c of frecuencies" [value]="c">{{c}} </option>
              </select></td>    
             <td><div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="todo.reembolsable"id="defaultUnchecked4">
              <label class="custom-control-label" for="defaultUnchecked4">Reembolsable</label>
          </div></td>
          <td><span (click)="deleteTodo(i)" class="delete-icon">[Eliminar]</span></td>
          
        </tr>
      </tbody>
    </table>
    <!-- <form class="form-inline"  *ngFor="let todo of todos; let i=index">
       <span [ngClass]="{'checked': todo.completed}"> {{ todo.newTodo }} 
        <input type="text" mask="separator.2" thousandSeparator=","  prefix=" L."  class="form-control" required [(ngModel)]="todo.price"  (keyup.enter)="price=''" name="price" placeholder="Precio">

         {{todo.frecuency}}</span>      <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
          <label class="custom-control-label" for="defaultUnchecked">Reembolsable</label>
      </div>
      <span (click)="deleteTodo(i)" class="delete-icon">[Eliminar]</span>
      
      </form> -->
    <form *ngIf="isOn"class="form-inline" (submit)="addTodo($event)">
      <div class="form-group mb-2">
        <input type="text" class="form-control" required [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" name="newTodo" placeholder="Nombre">
      </div>
      <div class="form-group mx-sm-2 mb-2">
        <input type="text" mask="separator.2" thousandSeparator=","  prefix=" L."  class="form-control" required [(ngModel)]="price"  (keyup.enter)="price=''" name="price" placeholder="Precio">

      </div>
      <div class="form-group mr-sm-2 mb-2">
        <select class="form-control" required [(ngModel)]="selectedFrecuency" name="frecuency" >
          <option [ngValue]="1" ></option>
          <option *ngFor="let c of frecuencies" [value]="c">{{c}} </option>
          </select>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" [(ngModel)]="reembolsable" id="defaultUnchecked4">
        <label class="custom-control-label" for="defaultUnchecked4">Reembolsable</label>
    </div>

      <button type="submit" class="btn btn-success mb-2" [disabled]="newTodo===''">Guardar</button>

    </form> 

  </div>


  <!-- <div [hidden]="newTodo">
      Type in a new todo...
    </div> -->

  <div [hidden]="!newTodo">
    <!-- Another two-way binding example -->
    <!-- Escribiendo: {{ newTodo }} -->
  </div>



  
  <button class="btn btn-primary mb-2"  (click)="isOn= true">Agregar</button>



</div>