<div class=" container col-md-10 ">
    <ul class="nav justify-content-center nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Informacion del Suscriptor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Eleccion del plan de Servicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Informacion de la Publicacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Eleccion de Metodo de Pago</a>
        </li>
      </ul>
</div>
<br>
<div class=" container col-md-8 ">

<form #personalForm="ngForm" class="editForm" >
  <div >

      
      <br/>
      <div class="row ">
        <div class="col">
            <label class="control-label" for="firstname">Nombre de la Empresa</label>  
            <input class="form-control input-md" #firstname="ngModel" required name="firstname" type="text" placeholder="Nombre" [(ngModel)]="personal.firstName">   
            <div class="alert alert-danger"  *ngIf="submitted && firstname.touched"> Nombre es requerido</div>
   
        </div>
        <div class="col">

            <label class="control-label" for="birthday">Fecha de Fundacion</label>  
            <input class="form-control input-md" #birthday="ngModel" required name="birthday" type="date" placeholder="Fecha de Nacimiento" [(ngModel)]="personal.birthday">   
            <div class="alert alert-danger" *ngIf="birthday.invalid  && (birthday.dirty || birthday.touched)">Fecha de nacimiento es requerida</div>

        </div>
      </div>
      <br>
      
      
      <div class="row ">
          <div class="col">
              <label class="control-label" for="email">Correo Electronico</label>
              <input class="form-control input-md" #email="ngModel" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" name="email" type="text" placeholder="Correo Electronico" [(ngModel)]="personal.email">
                  <!--<div class="alert alert-danger" [hidden]="email.valid">Correo electronico es requerido</div>-->
        
          </div>
          <div class="col">
  
              <label class="control-label" for="password">Contraseña</label>  
              <input class="form-control input-md" #password="ngModel" required name="password" type="password" [(ngModel)]="personal.password">   
                  <!--<div class="alert alert-danger" [hidden]="password.valid">Contraseña es requerida</div>-->
       
          </div>
        </div>
        <br>

        <div class="row ">
            <div class="col">
                <label class="control-label" for="username">Nombre de Usuario</label>  
                <input class="form-control input-md" #username="ngModel" required name="username" type="text" placeholder="Usuario" [(ngModel)]="personal.username">   

       </div>
            <div class="col">
    
                <label class="control-label" for="password">Confirmar Contraseña</label>  
                  <input class="form-control input-md" #password="ngModel" required name="password" type="password" [(ngModel)]="personal.password">   
                    <!--  <div class="alert alert-danger" [hidden]="password.valid">Confirmar Contraseña</div>-->
           
            </div>
          </div>
<br>
          <div class="row ">
            <div class="col">
                <label class="control-label" for="firstname">Departamento de Ubicacion de la empresa</label>  
                <select class="form-control" [(ngModel)]="mainCategory" name="mainCategory">
                  <option disabled [ngValue]="null">-/-</option>
                  <option [ngValue]="category" *ngFor="let category of mainGroups">{{category.title}}</option>
                </select>
                <div class="alert alert-danger"  *ngIf="submitted && firstname.touched"> Nombre es requerido</div>
       
            </div>
            <div class="col">
    
                <label class="control-label" for="birthday">Ciudad de Ubicacion de la empresa</label>  
                <select class="form-control" [(ngModel)]="SelectedSubCategory" name="subCategory">
                  <option [ngValue]="subcategory" *ngFor="let subcategory of filterSubById(mainCategory.id)">{{subcategory.title}}</option>
                </select>
                <div class="alert alert-danger" *ngIf="birthday.invalid  && (birthday.dirty || birthday.touched)">Fecha de nacimiento es requerida</div>
    
            </div>
          </div>
          <br><br><br>
          <div class="row ">
              <div class="col">
                  <label class="control-label" for="phone">Contacto 1</label>  
                  <int-phone-prefix  #phone="ngModel"  name="phone"  placeholder="Telefono" [(ngModel)]="personal.phone"></int-phone-prefix>   
                  <!--<div class="alert alert-danger" [hidden]="phone.valid">Telefono es requerido</div> -->
              </div>
              <div class="col">
      
                  <label class="control-label" for="phone">Contacto 2</label> 
                <int-phone-prefix [(ngModel)]="personal.phone2" name="phone2" [locale]="'es'"></int-phone-prefix>
           
              </div>
            </div>
            <br>
            <br>

            <div class="text-center">
              <h5>Extensiones de Redes Sociales</h5></div>
                    <div class="row text-center">
                        <div class="col">
                  <span><a href="#" class="fa fa-facebook"></a></span> <input type="text" placeholder="opcional" class=" input-md">
                   </div> 
                   <div class="col">
                      <span><a href="#" class="fa fa-twitter"></a></span> <input type="text" placeholder="opcional" class=" input-md">
                       </div>         
                </div>

                <div class="row text-center">
                    <div class="col">
              <span><a href="#" class="fa fa-instagram"></a></span> <input type="text" placeholder="opcional"class=" input-md">
               </div> 
               <div class="col">
                  <span><a href="#" class="fa fa-pinterest"></a></span> <input type="text" placeholder="opcional" class=" input-md">
                   </div>         
            </div>
            <br>
            <br>

              <div class="form-group text-center space-40">
                  <button type="submit" class="btn btn-outline-rounded btn-info " (click)="goToNext(personalForm)" >Siguiente</button>
                </div>

              
          </div>

    </form>

</div>
