<div class="container">
  <h1 class="text-center">Escoge un Plan</h1>
  <br>
  <br>
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Basico</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">L.150 <small class="text-muted">/ mensual</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>1 publicacion</li>
          <li>5 fotos por publicacion</li>
          <li>1 Categoria</li>
          <li>Ficha de Perfil</li>
           <br>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary" (click)="goToNext(personalForm)" >Ordenar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Normal</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">L.300 <small class="text-muted">/ mensual</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>3 publicaciones</li>
          <li>5 fotos por publicacion</li>
          <li>1 Categoria</li>
          <li>Ficha de Perfil</li>
          <br>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary" (click)="goToNext(personalForm)">Ordenar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Premium</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">L.500 <small class="text-muted">/ mensual</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>7 publicaciones</li>
          <li>8 fotos por publicacion</li>
          <li>3 Categorias</li>
          <li>1 video</li>
          <li>Sitio dentro de Sitio</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary"(click)="goToNext(personalForm)" >Ordenar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Ejecutivo</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">L.800 <small class="text-muted">/ mensual</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>15 publicaciones</li>
          <li>8 fotos por publicacion</li>
          <li>4 Categorias</li>
          <li>2 videos</li>
          <li>Sitio dentro de Sitio</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary" (click)="goToNext(personalForm)" >Ordenar</button>
      </div>
    </div>
  </div>
</div>