<main role="main" class="container">
<h1>Mision</h1>
<p>
  Somos una empresa en el sector inmobiliario en línea, radicada en la ciudad de El Progreso, cuyo objetivo es
  generar acercamientos entre arrendatarios o vendedores del sector inmobiliario con potenciales inquilinos o
  compradores por medio de una aplicación web.
</p>
<h1>Vision</h1>
<p>
  Convertirnos en el principal socio para oferentes inmobiliarios dado nuestra capacidad para conectarlos con
  clientes y en la herramienta preferida para demandantes de bienes inmobiliarios gracias a su capacidad a la
  capacidad de adaptación en la generación de resultados.
</p>
</main>
