<div class="ui form segment">   
  <div class="two fields">
    <div class="field">
      <label for="GivenName">Tipo de Inmobilario</label>
      <input id="GivenName"  type="select" />
    </div>

    <div class="field">
      <label for="State">Departamento</label>
      <input id="State"  type="text">
    </div>

    <div class="field">
      <label for="City">Ciudad</label>
      <input id="City"  type="text">
    </div>

    <div class="field">
      <label for="Surname">Nombre de la publicacion</label>
      <input id="Surname"  type="text">
    </div>

    <div class="field">
      <label for="Photos">Fotografias</label>
      <input id="Photos"  type="text">
    </div>

    <div class="field">
      <label for="Surname">Tipo de Transaccion</label>
      <input id="Surname"  type="select">
    </div>

    <h2>Especificaciones del Inmobilario</h2>

  </div>
</div>