<!--The content below is only a placeholder and can be replaced.-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">InmoEscaner</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Perfil</a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle class="nav-link dropdown-toggle" role="button">Acerca de<span class="caret"></span></a>
        <ul *dropdownMenu class="dropdown-menu show">

          <li><a class="dropdown-item" href="/about">Acerca de</a></li>
          <li><a class="dropdown-item" href="/mission">Mision y Vision</a></li>
          <li><a class="dropdown-item" href="values">Valores</a></li>
        </ul>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Search">

      <button routerLink="/user-type" routerLinkActive="active" class="btn btn-outline-success my-2 my-sm-0">Registrarse</button>
      <button routerLink="/login" routerLinkActive="active" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Iniciar
        Sesion
      </button>
    </form>
  </div>
</nav>
<div class="align"></div>

<router-outlet></router-outlet>

<div class="align"></div>

<footer class="footer">
  <div class="container">
    <hr>
    <div class="text-center center-block">
      <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
      <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
      <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
      <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
      <p class="txt-railway">- Copyright 2018 -</p>
    </div>

    <hr>
  </div>
</footer>
