<div class="container col-md-5 ">
    <form #addressForm="ngForm" novalidate class="form-horizontal">

        <h2 class="head text-center">Empecemos a registrar tu formulario</h2>
        <div class="form-group">
            <label class="control-label" >Elige el tipo de inmobiliario que deseas publicar</label>
            <select class="form-control" [(ngModel)]="address.tipoInmobiliario" name="tipoInmobiliario">
                <option *ngFor="let c of types" [value]="c.value">{{c.text}} </option>
            </select>
            <div *ngIf="address.tipoInmobiliario === 'executive-offices'">
                <label class="control-label" >Elige el tipo de acomodacion de la Oficina Ejecutiva</label>
                <select class="form-control" [(ngModel)]="officeType" name="officeType">
                    <option *ngFor="let c of officeTypes" [value]="c.value">{{c.text}} </option>
                </select>
            </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Que desea hacer con su Inmobiliario</label>
                    <select class="form-control input-md" [(ngModel)]="tipoTransaccion" name="tipoTransaccion">
                        <option *ngFor="let c of transactionTypes" [ngValue]="c">{{c.name}}</option>
                    </select>
                </div>
        <div class="row">
            <div class='col-xs-12 col-sm-6'>
                <div class="form-group">
                    <label class="control-label" for="departamento">Departamento</label>
                    <select class="form-control" [(ngModel)]="mainCategory" name="mainCategory">
                            <option disabled [ngValue]="null">-/-</option>
                            <option [ngValue]="category" *ngFor="let category of mainGroups">{{category.title}}</option>
                          </select>
                </div>
            </div>
            <div class='col-xs-12 col-sm-6'>
                <div class="form-group">
                    <label class="control-label" for="ciudades">Ciudad</label>
                    <select class="form-control" [(ngModel)]="selectedSubCategory" name="subCategory">
                            <option [ngValue]="subcategory" *ngFor="let subcategory of filterSubById(mainCategory.id)">{{subcategory.title}}</option>
                          </select></div>
          
            </div>

           
        </div>
        
        <div class="form-group">
            <label class="control-label" for="lastname">Barrio o Colonia</label>
            <input required class="form-control input-md" type="select" placeholder="Direccion">
        </div>

        <div class="form-group">
            <label class="control-label" for="postName">Titulo de la Publicacion</label>
            <input required class="form-control input-md" type="text">
        </div>
        
        <label class="control-label" for="lastname">Elige las Fotografias del Inmobiliario:</label>
        <image-upload></image-upload>

        <div class="form-group text-center space-40">
            <button class="btn btn-outline-rounded btn-secondary" (click)="goToPrevious(null)"> <span style="margin-right:10px;"
                    class="glyphicon glyphicon-arrow-left"></span> Previous</button>
            <button class="btn btn-outline-rounded btn-info" (click)="goToNext()"> Next <span style="margin-left:10px;"
                    class="glyphicon glyphicon-arrow-right"></span></button>
        </div>

    </form>
</div>