<div class="text-center">
  <h1>
    Resumen General
 </h1>
  <p>
  1. Titulo
 </p>
 <p>
  Tipo de Inmobiliario: Casa
 </p>
 Direccion: 

</div>
<br>


<div class="form-group text-center space-40">
  <button class="btn btn-outline-rounded btn-secondary" (click)="goToPrevious(workForm)"> <span style="margin-right:10px;"
      class="glyphicon glyphicon-arrow-left"></span> Atras</button>
  <button class="btn btn-outline-rounded btn-info" (click)="addPost(workForm)"> Agregar Otro Post <span style="margin-left:10px;"
      class="glyphicon glyphicon-arrow-right"></span></button>
</div>
