<div class="container col-md-5 ">
  <form class="form-horizontal">
     
        <h3 class="head text-center">Ahora las Especificaciones</h3>
        <div class="form-group">
          <label class="control-label" for="email">Elige el tipo de acomodacion habitacional</label>
          <select class="form-control input-md" [(ngModel)]="especificaciones" name="tipoComplejo">
            <option *ngFor="let c of complexTypes" [ngValue]="c">{{c.name}}</option>
          </select>
        </div>
        <h3 class="head text-center">Elige las caracteristicas</h3>
        <div class="row">
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label" for="firstname">Numero de Habitaciones</label>
              <input class="form-control input-md" type="number" min="0" placeholder="Habitaciones">

            </div>
          </div>
          
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label" for="lastname">Numero de Baños</label>
              <input class="form-control input-md" type="number" min="0" placeholder="Baños">

            </div>
          </div>
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label" for="lastname">Parqueos disponibles</label>
              <input class="form-control input-md" type="number" min="0" placeholder="Parqueos">

            </div>
          </div>
        </div>
        <h3 class="head text-center">Elige las areas que posee</h3>


        <div class="form-group">
            <label class="radio-inline"><input type="checkbox" name="optradio" >Sala</label>

            <label class="radio-inline"><input type="checkbox" name="optradio" >Comedor</label>

            <label class="radio-inline"><input type="checkbox" name="optradio" >Cocina</label>

            <label class="radio-inline"><input type="checkbox" name="optradio" >Lavanderia</label>

            <label class="radio"><input type="checkbox" name="optradio" >Estudio</label>

            <label class="radio-inline"><input type="checkbox" name="optradio" >Area de Entretenimiento</label>

            <label class="radio-inline"><input type="checkbox" name="optradio" >Terraza</label>

            <label class="radio-inline"><input type="checkbox" name="optradio" >Zona de esparcimiento</label>

            <label class="radio-inline"><input type="checkbox" name="optradio" >Gimnasio y/o spa</label>

          
        </div>

        <h3 class="head text-center">Elige las amenidades que posee</h3>
        <div class="form-group">
            <div class="radio">
              <label>
                <input type="checkbox" name="security"> Seguridad
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="checkbox" name="waterTank"> Tanque de Agua
              </label>
            </div>
            <div class="radio">
                <label>
                  <input type="checkbox" name="waterTank"> Pozo
                </label>
              </div>
            <div class="radio">
                <label>
                  <input type="checkbox" name="furniture"> Amueblado
                </label>
              </div>
     
          </div>

        <div class="row">
          <div class='col-md-12'>
            <label class="control-label">Espacio libre para informacion Adicional</label>
            <textarea class="form-control" rows="3"></textarea>
          </div>
      </div>
<br>
        <div class="row">
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label">Varas Cuadradas de Terreno</label>
              <input class="form-control input-md" type="text" suffix=" V2" mask="separator.2" thousandSeparator=","   placeholder="Terreno">
            </div>
          </div>
          <div class='col-xs-12'>
            <div class="form-group">
              <label class="control-label">Varas Cuadradas de Construccion</label>
              <input class="form-control input-md" type="text" suffix=" V2" mask="separator.2" thousandSeparator="," placeholder="Construccion">
            </div>
          </div>
        </div>

        <h3 class="head text-center">Precio y otros cargos</h3>
        <br>
        <table class="table table-borderless">

          <tbody>
            <tr>
              <th scope="row">Precio</th>
    
              <td scope="row"><input mask="separator.2" thousandSeparator="," prefix="L." class="form-control"  placeholder="Precio">
              </td>
              </tr>
          </tbody>
        </table>
        <!-- <div class="row text-center">
          <div class='col-xs-12 col-sm-6'>
            <form class="form-inline text-center">
              <div class="form-group mb-2">
                Precio
              </div>
            <div class="form-group mx-sm-2 mb-2">
              <input class="form-control input-md" type="text" mask="separator.2" thousandSeparator="," placeholder="Precio">
            </div>
          </form>
          </div>
        </div> -->
  
         <app-other-charges class="todos"></app-other-charges>
      
    <div class="form-group text-center space-40">
      <button class="btn btn-outline-rounded btn-secondary" (click)="goToPrevious(null)"> <span style="margin-right:10px;"
          class="glyphicon glyphicon-arrow-left"></span> Previous</button>
      <button class="btn btn-outline-rounded btn-info" (click)="goToNext(null)"> Next <span style="margin-left:10px;"
          class="glyphicon glyphicon-arrow-right"></span></button>
    </div>

  </form>
</div>